@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: 'open';
  src: url('../fonts/OpenSans-Bold.otf');
}

@font-face {
  font-family: 'sansi';
  src: url('../fonts/SanshiroDemo-Black.otf');
}

@font-face {
  font-family: 'grako';
  src: url('../fonts/Grako-Demo-Regular.otf');
}

@font-face {
  font-family: 'monas';
  src: url('../fonts/monasgrotesk-bold.otf');
}



.bodi {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  background: linear-gradient(30deg, #0d0a0b, #0d2818, #0d0a0b);
  color: white;
  background-size: 200% auto; /* Menggunakan ukuran latar belakang 200% untuk membuat gerakan dari kiri ke kanan */
  animation: gradientAnimation 50s ease-in-out infinite; /* Animasi bergerak selama 5 detik dengan jenis animasi ease */
  overflow-x: hidden;
}

.bodi-niat {
  min-height: 117vh;
}

.bodi-resep {
  min-height: 100vh;
}

.bodi-tadarus {
  min-height: 100vh;
}

@media only screen and (max-width: 640px) {
  .bodi {
    min-height: 100vh;
  }

  .bodi-hero {
    min-height: 160vh;
  }

  /*.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 16px;
    }*/
    
    
}

@media only screen and (max-width: 414px) {
  .bodi-hero {
    min-height: 215vh
  }

  .bodi-niat {
    min-height: 80vh;
  }
}



@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%; /* Mulai dari posisi kiri tengah */
  }
  50% {
    background-position: 100% 50%; /* Posisi di tengah jalan saat animasi */
  }
  100% {
    background-position: 0% 50%; /* Kembali ke posisi awal */
  }
}


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.opensans {
  font-family: 'open';
}

.sanshiro {
  font-family: 'sansi';
}

.grako {
  font-family: 'grako';
}

.monas {
  font-family: 'monas';
}

.active-box {
  background-image: linear-gradient(to bottom, #0d2818, #0d0a0b);
  background-size: 100% 200%; /* Menentukan ukuran latar belakang */
  animation: rareEffect 1s infinite ease-in-out alternate; /* Durasi, jenis, dan iterasi animasi */
}

.active-shadow {
  box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.42);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.page-link {
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  border: 1px solid #3e664e; /* Warna border yang sama dengan div di atasnya */
  border-radius: 4px;
  color: #3e664e;
  cursor: pointer;
}
.page-link:hover {
  background-color: #3e664e;
  color: white;
}
.active {
  background-color: #3e664e;
  color: whitesmoke;

}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: #3e664e; /* Ubah warna sesuai kebutuhan Anda */
}


@keyframes rareEffect {
  0% {
    background-position: 0% 0%; /* Posisi awal gradient */
  }
  100% {
    background-position: 0% 100%; /* Posisi akhir gradient */
  }
}


